/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.videosize {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:80vh;
    object-fit:fill
}
    
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


/* Hero section */
.hero {
    background-image: url('/video/whattodo.mp4');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Style for the booking button */
.booking-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #2d5e3e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for link */
}

.booking-button:hover {
    background-color: #1a3d2a; /* Darker shade on hover */
}