/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.videosize {
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    object-fit:fill
}
    
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Hero section */
.hero {
    background-image: url('/video/whattodo.mp4');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Activities section */
.activities {
    padding: 4rem 0;
    background-color: #fff;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.activity-item {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.activity-image {
    width: 100%;
    border-radius: 10px;
    animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.activity-title {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem;
}

.activity-description {
    font-size: 1rem;
    color: #555;
}

.activity-grid h3{
    font-size: 20px;
}

.activity-grid p {
    text-align: justify;
}
